.header__container {
    justify-content: space-between;

    .header__logo {
    }

    .nav {
        align-content: center;
    }

    .header__list {
    }

    .header__item:not(:last-child) {
        margin-right: 72px;
    }

    .header__item-link {
        font-size: 16px;
        line-height: 26px;
    }

    .header__button {
        padding: 12px 24px;
        border-radius: 100px;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
    }
}