@font-face {
    font-family: "IBM-Medium";
    src: url('/Mining/src/fonts/IBMPlexSansCond-Medium.woff') format('woff'),
         url('/Mining/src/fonts/IBMPlexSansCond-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "IBM-Thin";
    src: url('/Mining/src/fonts/IBMPlexSansCond-Thin.woff') format('woff'),
         url('/Mining/src/fonts/IBMPlexSansCond-Thin.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}