@import './style/mainpages.scss';
@import './variables/color.scss';
@import './fonts/font.scss';
@import './style/slider.scss';

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

p {
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    background: none;
    border: none;
    padding: 0;
}

.flex {
    display: flex;
}

body {
    padding-top: 28px;
    margin: 0 auto;
    font-family: 'IBM-Medium"';
    font-weight: 600;
    
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 204px;
}

.header__button {
    background: $background-btn;
    color: $text-white;
}


.services {
    background: $text-black;
        .news__text {
            color: $text-black;
        }

    .services__name{
        color: $text-gray;
    }

    .services__descr {
        color: $text-gray;
    }
}
